<!DOCTYPE html>
{% extends 'index.html' %}
{%load static %}

{% block content %}

<!-- Nis foto, video ose carousel seksion -->
<!-- <img src="images/banner-foto.jpg" alt="Banner - coder" class="img-fluid bannerFoto"> -->
<!-- <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
<!-- fund foto, video ose carousel sesion -->
<h1 class="text-center display-6 mt-5 pt-5">Best offers / New Products/ Services</h1>
<!-- Nis sesion grid -->
<div class="container">
  <h2>Hello</h2>
  <div class="row">
    {% for item in items %}
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <img src="{{item.item_image.url}}" class="card-img-top h-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.item_name}}</h5>
          <p class="card-text">{{item.item_description}}
          </p>
          <p class="card-text newPara">2-Some quick example text to build on the card title and make up the bulk
            of
            the card's
            content.
          </p>
          <a href="{% url 'detailitem' item.pk %}" class="btn btn-primary showHide">Go somewhere</button>
        </div>
      </div>
    </div>

    {% endfor %}



  </div>
</div>
<!-- fund sesion grid -->
<!-- grid about -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-7">
      <img src="{{item.item_image.url}}" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h1>About Us</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed autem tempora adipisci. Delectus dolorem,
        non
        sunt a eaque similique illum omnis accusantium odit repellendus, autem consequuntur cupiditate molestiae.
        Dolores, et.</p>
      <a href="">Find more</a>
    </div>

  </div>
</div>
<!-- fund about -->

{% endblock %}